// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Sun Aug 31 13:45:03 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/mtatsumi/my_designs/lab1/source/impl_1/lab1_mt.sv"
// file 1 "c:/users/mtatsumi/my_designs/lab1/source/impl_1/leds.sv"
// file 2 "c:/users/mtatsumi/my_designs/lab1/source/impl_1/sev_seg.sv"
// file 3 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 4 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 5 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 6 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 7 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 8 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 9 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 10 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 22 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 23 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 24 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 25 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 26 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 27 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 28 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 29 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 36 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 37 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 38 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 39 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 40 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 41 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 42 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 43 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 53 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 54 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module lab1_mt
//

module lab1_mt (input clk, input [3:0]s, output [2:0]led, output [6:0]seg);
    
    wire s_c_3;
    wire s_c_2;
    wire s_c_1;
    wire s_c_0;
    wire led_0_1;
    wire led_0_0;
    wire seg_c_6;
    wire seg_c_5;
    wire seg_c_4;
    wire seg_c_3;
    wire seg_c_2;
    wire seg_c_1;
    wire seg_c_0;
    wire GND_net;
    
    wire VCC_net;
    
    VHI i4 (.Z(VCC_net));
    (* lut_function="(A+(B (C)+!B !(C)))", lineinfo="@0(3[21],3[22])" *) LUT4 i1_3_lut (.A(s_c_1), 
            .B(s_c_0), .C(s_c_2), .Z(seg_c_0));
    defparam i1_3_lut.INIT = "0xebeb";
    (* lut_function="((B (C)+!B !(C))+!A)", lineinfo="@0(3[21],3[22])" *) LUT4 i1_3_lut_adj_1 (.A(s_c_2), 
            .B(s_c_0), .C(s_c_1), .Z(seg_c_1));
    defparam i1_3_lut_adj_1.INIT = "0xd7d7";
    (* lineinfo="@0(4[21],4[24])" *) OB \led_pad[2]  (.I(GND_net), .O(led[2]));
    VLO i1 (.Z(GND_net));
    (* lut_function="(!(A (B (C)+!B !(C))+!A !(B+!(C))))", lineinfo="@0(3[21],3[22])" *) LUT4 i23_3_lut (.A(s_c_2), 
            .B(s_c_1), .C(s_c_0), .Z(seg_c_3));
    defparam i23_3_lut.INIT = "0x6d6d";
    (* lut_function="(!(A (B)+!A (B+(C))))", lineinfo="@0(3[21],3[22])" *) LUT4 i1_3_lut_adj_2 (.A(s_c_1), 
            .B(s_c_0), .C(s_c_2), .Z(seg_c_4));
    defparam i1_3_lut_adj_2.INIT = "0x2323";
    (* lut_function="(!(A ((C)+!B)+!A !(B+!(C))))", lineinfo="@0(3[21],3[22])" *) LUT4 i1_3_lut_3_lut (.A(s_c_1), 
            .B(s_c_2), .C(s_c_0), .Z(seg_c_5));
    defparam i1_3_lut_3_lut.INIT = "0x4d4d";
    (* lut_function="(!(A (B (C))+!A !(B)))", lineinfo="@0(3[21],3[22])" *) LUT4 i1_2_lut_3_lut_3_lut (.A(s_c_1), 
            .B(s_c_2), .C(s_c_0), .Z(seg_c_6));
    defparam i1_2_lut_3_lut_3_lut.INIT = "0x6e6e";
    (* lineinfo="@0(4[21],4[24])" *) OB \led_pad[1]  (.I(led_0_1), .O(led[1]));
    (* lineinfo="@0(4[21],4[24])" *) OB \led_pad[0]  (.I(led_0_0), .O(led[0]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@0(3[21],3[22])" *) IB \s_pad[3]  (.I(s[3]), .O(s_c_3));
    (* lineinfo="@0(3[21],3[22])" *) IB \s_pad[2]  (.I(s[2]), .O(s_c_2));
    (* lineinfo="@0(3[21],3[22])" *) IB \s_pad[1]  (.I(s[1]), .O(s_c_1));
    (* lineinfo="@0(3[21],3[22])" *) IB \s_pad[0]  (.I(s[0]), .O(s_c_0));
    (* lut_function="((B+(C))+!A)" *) LUT4 i171_2_lut_3_lut (.A(s_c_1), .B(s_c_2), 
            .C(s_c_0), .Z(seg_c_2));
    defparam i171_2_lut_3_lut.INIT = "0xfdfd";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i39_2_lut (.A(s_c_0), .B(s_c_1), 
            .Z(led_0_0));
    defparam i39_2_lut.INIT = "0x6666";
    (* lut_function="(!(A+(B)))" *) LUT4 i169_2_lut (.A(s_c_2), .B(s_c_3), 
            .Z(led_0_1));
    defparam i169_2_lut.INIT = "0x1111";
    
endmodule
